<div class="table-row">
  <div class="table-cell p-3">
    <%= employee.name %>
  </div>
  <div class="table-cell">
    <%= employee.coordinator ? "Yes" : "No" %>
  </div>
  <div class="table-cell">
    <%= employee.location.name %>
  </div>
  <div class="table-cell">
    <div class="flex gap-4">
      <%= link_to "View", facility_location_path(@facility)%>
      <%= link_to "Edit", edit_facility_location_path(@facility) %>
      <%= button_to "Delete", facility_location_path(@facility), data: { method: :delete }, class: "text-red-900" %>
    </div>
  </div>
</div>