<div class="table-row bg-slate-400">
  <div class="table-cell p-4">
    <%= facility.id %>
  </div>
  <div class="table-cell p-4">
    <%= facility.title %>
  </div>
  <div class="table-cell p-4">
    <%= facility.status.titleize%>
  </div>
  <div class="table-cell p-4">
    <%= facility.private ? "Yes" : "No" %>
  </div>
  <div class="table-cell p-4">
    <%= facility.locations.count %>
  </div>
  <div class="table-cell p-4">
    <div class="flex gap-4">
      <%= link_to "View", facility_path(facility)%>
      <%= link_to "Edit", edit_facility_path(facility) %>
      <%= button_to "Delete", facility_path(facility), data: { method: :delete }, class: "text-red-900" %>
    </div>
  </div>
</div>