<div class="flex flex-col gap-4 w-full">
  <div>
    <%= tag.h1 @facility.title, class: "font-bold text-4xl dark:text-gray-100" %>
  </div>
  <div class="flex justify-between">
    <%= tag.h2 "Locations", class: "font-bold text-2xl" %>
    <div>
      <%= link_to "New Location", new_facility_location_path(@facility) ,class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="table w-full border-collapse table-auto text-sm">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Name
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          NF Types
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Age Groups
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Disiplines
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Actions
        </div>
      </div>
    </div>
    <div class="table-row-group">
      <%= render @facility.locations %>
    </div>
  </div>
  <div class="flex justify-between">
    <%= tag.h2 "Staff Members", class: "font-bold text-2xl" %>
    <div>
      <%= link_to "New Staff Member", new_facility_employee_path(@facility) ,class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="table w-full border-collapse table-auto text-sm">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Name
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Coordinator
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Location
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Actions
        </div>
      </div>
    </div>
    <div class="table-row-group">
      <% @facility.locations.each do |location| %>
        <% location.employees.each do |employee| %>
          <%= render employee %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-between">
    <%= tag.h2 "Contact Methods", class: "font-bold text-2xl" %>
    <div>
      <%= link_to "New Contact Methods", new_facility_contact_path(@facility) ,class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="table w-full border-collapse table-auto text-sm">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Type
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Belongs To
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Private Listing
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Value
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-900 text-left">
          Actions
        </div>
      </div>
    </div>
    <div class="table-row-group">
      <%= render @facility.contacts %>
    </div>
  </div>
</div>
