<div class="table-row">
  <div class="table-cell p-3 dark:text-slate-200">
    <%= location.name %>
  </div>
  <div class="table-cell dark:text-slate-200">
    <% location.nf_types.each do |nf_type| %>
      <%= nf_type.abbreviation %>
    <% end %>
  </div>
  <div class="table-cell dark:text-slate-200">
    <% location.age_groups.each do |age_group| %>
      <%= age_group.name.humanize.titleize %>
    <% end %>
  </div>
  <div class="table-cell dark:text-slate-200">
    <%= location.disiplines.pluck(:name).join(", ") %>
  </div>
  <div class="table-cell">
    <div class="flex gap-4">
      <%= link_to "View", facility_location_path(@facility), class: "dark:text-slate-200" %>
      <%= link_to "Edit", edit_facility_location_path(@facility), class: "dark:text-slate-200" %>
    </div>
  </div>
</div>